* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#mainContainer {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

#formComponent{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#names,
#inputFields {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 20px;
}

select,input {
  width: 200px;
}

button{
    width: 200px;
    height: 50px;
    position: absolute;
    top:500px
}
